.inputTask {
  padding: 10px;
  margin-right: 20px;
  width: 280px;
  border-radius: 7px;
}

.addButton {
  padding: 12px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 7px;
}
